.slider {
    width: 100vh;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    color: aliceblue;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slider1 {
    width: 60vh;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slides1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide1 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.active1 {
    opacity: 1;
}